<body class="notifications-body">
   <header class="journal-header">
      <div class="journal-placeholder">
      </div>
  </header>
  <main class = "notifications-container">
    <div class = "notifications-subcontainer1">
      <div class ="notifications-items1">
        <div class ="notifications-item">
            <p>Find me in app/views/notification/index.html.erb</p>
        </div>
        <div class ="notifications-item">
            <p>Find me in app/views/notification/index.html.erb</p>
        </div>
        <div class ="notifications-item">
            <img src="https://arcadia-static-assets.s3.amazonaws.com/arcadia-svgs/Image-Notifications.svg" alt="Turn on Arcadia Notifications" id="giant-purple-phone">
        </div>
      </div>
    </div>
    <div class = "notifications-subcontainer2">
      <div class ="notifications-items2">
        <div class ="notifications-item">
            <p>Find me in app/views/notification/index.html.erb</p>
        </div>
        <div class ="notifications-item">
            <p>Find me in app/views/notification/index.html.erb</p>
        </div>
      </div>
    <div>
  </main>
</body>