<body class="notifications-body">
   <header class="journal-header">
      <div class="journal-placeholder">
      </div>
  </header>
  <main class = "notifications-container">
    <div class = "notifications-subcontainer1">
      <div class ="notifications-items1">
        <div class="TOYN">
          Turn on your notifications
        </div>
        <div class="SYCRIA">
          so you can receive important alerts
        </div>
          <div class ="notifications-image">
          <img src="https://arcadia-static-assets.s3.amazonaws.com/arcadia-svgs/Image-Notifications.svg" alt="Turn on Arcadia Notifications" id="giant-purple-phone">
        </div>
      </div>
    </div>
    <div class = "notifications-subcontainer2">
      <div class ="notifications-items2">
        <div class ="notifications-enable">
            <div>Enable Notifications</div>
        </div>
      </div>
    <div>
  </main>
    <div class="notification-footer">
      <div class ="notifications-nrn">
        Not now
      </div>
    </div>
</body>
