<div class=NavigationPane>

<div class="Navigation-Header"> 
<div></div>
<h1> Menu </h1> 
<a href='javascript:history.go(-1)'>
<img src="https://arcadia-static-assets.s3.amazonaws.com/arcadia-svgs/close.svg" alt="close button" />
</a>
</div>

<div class="Navigation-Section 1">

<div class="Navigation-Buttons 1">

<%= link_to journals_url do %>
<i class="far fa-sticky-note"></i>
<% end %>
<h3>Journal<h3>

</div>

<div class="Navigation-Buttons 2"> 
<a href="">
<i class="fas fa-user-friends"></i>
</a>
<h3>Support<h3>
</div>

</div>

<div class="Navigation-Section 2">
<div class="Navigation-Buttons 3">
<a href="">
<i class="fal fa-meh"></i>
</a>
<h3>Symptoms<h3>
</div>

<div class="Navigation-Buttons 4">

<%= link_to contacts_url do %>
<i class="far fa-address-book"></i>
<% end %>

<h3>Contacts<h3>
</div>
</div>

<div class="Navigation-Section 3">

<div class="Navigation-Buttons 5">

<%= link_to prescriptions_url do %>
<i class="far fa-pills"></i>
<% end %>
<h3>Medications<h3>
</div>

<div class="Navigation-Buttons 6">

<%= link_to events_url do %>
<i class="far fa-calendar-check"></i>
<% end %>

<h3>Appointments<h3>
</div>
</div>

</div>