<div class=NavigationPane>

<div class="Navigation-Header"> 
<div></div>
<h1> Menu </h1> 
<a href='javascript:history.go(-1)'>
<img src="https://arcadia-static-assets.s3.amazonaws.com/arcadia-svgs/close.svg" alt="close button" />
</a>
</div>

<div class="Navigation-Section 1">

<div class="Navigation-Buttons 1">
<a href="">
<a href="/journals/new"><i class="far fa-sticky-note"></i></a>
</a>
<h3>Journal<h3>
</div>

<div class="Navigation-Buttons 2"> 
<a href="">
<i class="fas fa-user-friends"></i>
</a>
<h3>Support<h3>
</div>

</div>

<div class="Navigation-Section 2">
<div class="Navigation-Buttons 3">
<a href="">
<i class="fal fa-meh"></i>
</a>
<h3>Symptoms<h3>
</div>

<div class="Navigation-Buttons 4">
<a href="">
<a href="/contacts"><i class="far fa-address-book"></i>
</a>
<h3>Contacts<h3>
</div>
</div>

<div class="Navigation-Section 3">

<div class="Navigation-Buttons 5">
<a href="">

<a href="/prescriptions"><i class="far fa-pills"></i>
</a>
<h3>Medications<h3>
</div>

<div class="Navigation-Buttons 6">
<a href="">

<a href="/events/"><i class="far fa-calendar-check"></i>
</a>
<h3>Appointments<h3>
</div>
</div>

</div>