<div id='home'>
  <div id='home-div1'>
    <div id='home-nav-top' class='bkgrd-cr-vanilla'></div>
    <div id='home-nav-bottom' class='bkgrd-cr-taupe'>
      <span onclick='openNav()'> 
        <i class="fas fa-ellipsis-v home-nav-bottom-icon"></i>
      </span>
    </div>
  </div>
  <div id='home-div2'>
    <%= react_component("Home") %>
  </div>
</div>
<%= react_component("FAB") %>
<%= render 'home/nav' %>


<script>
  function openNav() {
  document.getElementById('home-nav').style.width = '170px'
  document.getElementById('home-nav').classList.add('open')
  document.getElementById('home-nav').classList.remove('closed')
  document.getElementById('nav-overlay').classList.add('open')
  document.getElementById('nav-overlay').classList.remove('closed')
  }

  function closeNav() {
  document.getElementById('home-nav').style.width = '0%';
  document.getElementById('nav-overlay').classList.add('closed')
  document.getElementById('nav-overlay').classList.remove('open')
  document.getElementById('home-nav').classList.add('closed')
  document.getElementById('home-nav').classList.remove('open')
  }
</script>
