<h1>User Home Page</h1>
 <body>
  <%# <div class="container">
   <div class="sky">
    <div class="stars">
     ::after
    </div>
  <div class="stars1">
   ::after
  </div>
  <div class="stars2">
   ::after
  </div>
  <div class="shooting-stars"></div>
</div>
</div> %>
<div>
  Your are user: <%= current_user %>
  <br/>
  Your user id is: <%= current_user.id %>
</div>
</body>