<div class="event-body">
<div class="contact-close-div">
    <div class="trail-nav"></div>
  <a class="contact-close" href='javascript:history.go(-1)'>
<img src="https://arcadia-static-assets.s3.amazonaws.com/arcadia-svgs/close.svg" alt="close button" />
</a>
</div>

<div class="event-text-div">
<div class="event-header">New Appointment</div>
</div>

<div>
  <%= react_component("EventForm") %>
</div>

<div style='display:grid'>
</div>
</div>