<h1> EVENTS </h1>

<table> 
  <tbody>
    <% @event.each do |event| %>
      <tr>
       <th>Event Type</th>
        <td><%= event.eventable_type%></td>
      </tr>
      <tr>
       <th>Date & Time</th>  
        <td><%= event.activity_date %></td>
      </tr>
      <tr>
       <th>Notes</th>  
        <td><%= event.notes %></td> 
      </tr>
    <% end %> 
  </tbody> 
</table> 

<a class="contact-close" onClick='javascript:history.go(-1)'>
<img src="https://arcadia-static-assets.s3.amazonaws.com/arcadia-svgs/close.svg" alt="close button" />
</a>