

<%= react_component("Welcome")%>
<%= stylesheet_link_tag "starshower.css" %>

<body>
  <div class="gradient">
    <div class="sky">
    <div class= "welcome-title"> Arcadia IVF </div>
      <div class="stars">
    </div>
      <div class="stars1">
    </div>
      <div class="stars2">
    </div>
      <div class="shooting-stars">
    </div>
   </div>
 </div>
</body>

</html>