<h1 class="welcome-title"> Welcome to Arcadia IVF </h1>

<%= react_component("Welcome")%>
<%= stylesheet_link_tag "starshower.css" %>

<body>
  <div class="gradient">
    <div class="sky">
      <div class="stars">
    </div>
      <div class="stars1">
    </div>
      <div class="stars2">
    </div>
      <div class="shooting-stars">
    </div>
   </div>
 </div>
</body>

</html>