<div class="agenda-background">
  <div class="agenda-close"> 
    <a href='javascript:history.go(-1)'>
      <img src="https://arcadia-static-assets.s3.amazonaws.com/arcadia-svgs/close.svg" 
           alt="close button">
      </a>     
  </div>


<h1 class="agenda-title"> Agenda </h1>

<%# THIS CODE BLOCK MAY BENEFIT FROM UTILIZING TABLES 
LOOK AT THE STRUCTURE IN app/views/events/index.html.erb as an example %>

<div class= "line"></div>
<div class= "meds"> Medications </div>

<div>
  <div class= "meds-list" >
  <table> 
    <tbody>
        <% @prescriptions.each do |prescription_event|%>
        <tr>
          <th>Drug Name</th>
          <th>Administration Time</th>
        </tr>
        <tr>
        <td><%= prescription_event[:prescription].name %></td>
        <td><%= prescription_event[:activity_date] %></td>
        </tr>
        <%end%>
      </tbody>
   </table> 
  </div>
</div >

<%# THIS CODE BLOCK MAY BENEFIT FROM UTILIZING TABLES 
LOOK AT THE STRUCTURE IN app/views/events/index.html.erb as an example %>

<div class= "line2"></div>
<div class= "appointments"> Appointments </div>

<div>
  <div class= "appointments-list">
  <table> 
  <tbody>
        <% @appointments.each do |appointment_event|%>
        <tr>
          <th>POC</th>
          <th>Event Date</th>
        </tr>
        <tr>
          <td><%= appointment_event[:appointment].name%></td>
          <td><%= appointment_event[:activity_date] %></td>
        </tr>
        <%end%>
      </tbody>
    </table> 
  </div>
</div>

<div class= "line3"></div>
<div class= "notes"> Notes </div>
<div class="notes-list">
  <div class="notes-list">- Call Progyny Insurance to request Cycle Start Approval</div>
  <div class="notes-list">- Buy ice packs</div>
</div>
</div>
