 <main class="outter-encapsulation">
  <div id=encapsulation>
    <header class="calendar-main-header">
      <div class="calendar-header-bar"></div>
      <div class="calendar-header-title">
        <h1>ARCADIA IVF SCHEDULER</h1>
      </div>
      <div class="calendar-header-weekdays">
        <span>sun</span>
        <span>mon</span>
        <span>tue</span>
        <span>wed</span>
        <span>thu</span>
        <span>fri</span>
        <span>sat</span>
      </div>
    </header>
    <section class="calendar-main-section">
        <h2 class="month">December</h2>
        <form class="calendar-form">
          <input type="radio" name="calendar-label-bg" class="calendar-label-bg" id="vacation" />
          <input type="radio" name="calendar-label-bg" class="calendar-label-bg" id="walk" />
          <input type="radio" name="calendar-label-bg" class="calendar-label-bg" id="fishing" />
          <input type="radio" name="calendar-label-bg" class="calendar-label-bg" id="weekend" />
          <input type="radio" name="calendar-label-bg" id="new" class="calendar-label-bg">
          <div class="calendar">
            <input type="checkbox" name="" id="" class="day previous-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day current-month" />
            <input type="checkbox" name="" id="" class="day next-month" />
            <input type="checkbox" name="" id="" class="day next-month" />
            <input type="checkbox" name="" id="" class="day next-month" />
            <div class="calendar-labels">
              <label for="vacation"><span>Appointment</span></label>
              <label for="walk"><span>Pill</span></label>
              <label for="fishing"><span>Injection</span></label>
              <label for="weekend"><span>Counseling</span></label>
              <label for="new" class="full"><input type="text" placeholder="Add new task"></label>
              <label class="reset">
                <input type="reset" value="Reset"/>
              </label>
            </div>
          </div>
        </form>
        <h2 class="month">January</h2>
        <div class="calendar inactive">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
          <input type="checkbox" name="" id="" class="day next-month">
        </div>
    </section> 
    </div> 
</main> 
