  <% @journal.each do |journal| %>
  <main class="journal-entry-viewer">
    <div class="journal-entry-container">
      <div class="journal-entry-info">
        <div class="info-box">
          <%= journal.title %>
        </div>
        <div class="info-box">
          <%= journal.created_at %>
        </div>
        <div class="info-box">
          <i class="fal fa-folder-open">  Notes</i>
        </div>
      </div>
      <div class="journal-entry-description">
        <%= journal.description %>
    </div>
  </main>
  <% end %>