<h2>This place will show you your Entries</h2>

<%= link_to '➕ New Journal Entry', 'journals/new' %>

<h3>Journal#index</h3>
<p>I am app/views/journals/index.html.erb</p>
<br>

<h1>Important to Journal</h1>

<ul>
  <li>
    app/controllers/journals_controller.erb
  </li>
  <li>
    app/views/journals/index.html.erb
  </li>
  <li>
     app/views/journals/new.html.erb
  </li>
<ul>

