<body class="bkgrd-cr-sheer">
  <header class="journal-header">
      <div class="journal-placeholder">
      </div>
    <nav class="journal-nav">
      <div class="journal-nav-buttons">
        <div id="journal-nav-button1">
          <img src="https://arcadia-static-assets.s3.amazonaws.com/arcadia-svgs/chevron-back.svg" alt="Back" height="44" width="44" id="journal-nav-back">
        </div>
        <div id="journal-nav-button2">
          <h1>Journal</h1>
        </div>
        <div id="journal-nav-button3">
          <i class="far fa-trash-alt" id="trash-icon"></i>
        </div>
      </div>
    <nav>
  </header>



  <div>
    <h2>This place will show you your Entries</h2>

  <%= link_to '➕ New Journal Entry', 'journals/new' %>

  <h3>Journal#index</h3>
  <p>I am app/views/journals/index.html.erb</p>
  <br>

  <h1>Important to Journal</h1>

  <ul>
    <li>
      app/controllers/journals_controller.erb
    </li>
    <li>
      app/views/journals/index.html.erb
    </li>
    <li>
      app/views/journals/new.html.erb
    </li>
    <li>
    <i class="far fa-trash-alt"></i>
    </li>
    <li>
    <i class="fas fa-folder-open"></i>
    </li>
    <li>
    <i class="far fa-paperclip"></i>
    </li>
    <li>
    <i class="far fa-camera"></i>
    </li>
  <ul>
  </div>

</body>

