.contacts-body{
  height: 100vh;  
  background-color: #fff5e9;
}

.t-body-contacts{
  background-color: #fff5e9;
}

.contacts-parent{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff5e9;
}

.contacts-header { 
display: flex;
justify-content: center;
}

.contacts-text-div{
  border-bottom: 4px solid rgba(132,75,143,0.55);
}

.contacts-tbl-div{
  border-bottom: 4px solid rgba(132,75,143,0.55);
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff5e9;

}
.contacts-form-div { 
  margin: auto;
  text-align: center;
  overflow: scroll;
 }

 .contacts-name{
  color: #200026;	
  font-family: Avenir;	
  font-size: 14px;	
  font-weight: 300;	
  line-height: 19px;
  background-color: #fff5e9;
  border-bottom: 1px solid rgba(241,172,254,0.55);;
 }

 .contacts-name-notes{
  color: #200026;	
  font-family: Avenir;	
  font-size: 14px;	
  font-weight: 300;	
  line-height: 19px;
  background-color: #fff5e9;
 }

 .contacts-h{
  color: #200026;	
  font-family: Avenir;	
  font-size: 14px;	
  font-weight: 900;	
  line-height: 19px;
  background-color: #fff5e9;
 }

 .contacts-break{
  box-sizing: border-box;	
  height: 1px;	
  width: 360px;	
  border-bottom: 4px solid rgba(132,75,143,0.55);
 }

 .contacts-line{
   text-decoration: underline;
 }

