.contact-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 10% 65% 15%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  background-color: #fff5e9;
}
.contact-bkgrnd{
  background-color: #fff5e9;
}

.contact-close-div {
  grid-area: 1 / 1 / 2 / 2;
}
.contact-text-div {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #fff5e9;
}
.contact-form-div {
  grid-area: 3 / 1 / 4 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 12fr;
  margin: auto;
  text-align: center;
  overflow: scroll;
}
.contact-btn-div {
  grid-area: 4 / 1 / 5 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: auto;
  text-align: center;
  background-color: #fff5e9;
  display: flex;
  justify-content: center;
}

.contact-close {
  border: none;
  font-size: 20px;
  background-color: #fff5e9;
  float: right;
}

.contact-header {
  color: #200026;
  font-family: "Helvetica Neue";
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  padding: 5px;

  display: flex;
  justify-content: center;
}

.contact-name {
  color: #200026;
  font-family: Avenir;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  margin: 0;
  padding-right: 295px;
}
.contact-field {
  box-sizing: border-box;
  height: 50px;
  width: 340px;
  border: 1px solid rgba(132, 75, 143, 0.55);
  border-radius: 2px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  margin: auto;
}

.contact-btn {
  height: 78px;
  width: 360px;
  background-color: #200026;
  color: #ffffff;
  font-family: Avenir;
  font-size: 48px;
  font-weight: 300;
  line-height: 66px;
}
