.NavigationPane {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    justify-content: center;
    text-align: center;
    background-color: #fff8f0;
    font-family: 'Ramabhadra', sans-serif;
    transition: transform 0.3s ease-out;
}

.Navigation-Header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.Navigation-Header div {
    width: 15%;
}

.Navigation-Header h2,
.Navigation-Section {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    color:  rgba(32, 0, 38, 0.81);
    
}

.Navigation-Section i{

font-size: 80px;
color:  rgba(32, 0, 38, 0.81);

}

.Navigation-Buttons i{

    width: 115px;
    height: 115px;
    background-color: #BB98BA;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    margin: 7px; 
}

.Navigation-Header {

    font-family: 'Ramabhadra', sans-serif;
    color:  rgba(32, 0, 38, 0.81);
}

#nav-overlay{
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    transition: transform 0.3s ease-out;
}

.open {
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }
  
  .closed {
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
  }