.NavigationPane {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
    background-color: #fff8f0;
    font-family: 'Ramabhadra', sans-serif;
}

.Navigation-Section {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    color:  rgba(32, 0, 38, 0.81);

}

.Navigation-Section i{

font-size: 80px;
color:  rgba(32, 0, 38, 0.81);

}

.Navigation-Buttons i{

    width: 115px;
    height: 115px;
    background-color: #BB98BA;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    margin: 7px; 
}

.Navigation-Header {

    font-family: 'Ramabhadra', sans-serif;
    color:  rgba(32, 0, 38, 0.81);
}