.prescription-background {
  background-color: #fff8f0;
  height: 100vh;
}

.prescription-title {
  color: #200026;
  font-size: 24px;
  font-family: "Srimo", sans-serif;
  text-align: center;
}

.prescription-input {
  width: 250px;
  height: 50px;
  border: 2px solid #fcecff;
  margin-left: 15px;
  font-size: 13px;
}

.prescription-info input {
  background-color: #fff8f0;
  border: none;
  padding: 8px;
  padding-right: 10px;
  width: 230px;
}

.prescription-info {
  color: #200026;
  font-size: 14px;
  font-family: "Srimo", sans-serif;
  margin-right: 5px;
  background-color: #fff8f0;
  margin-left: 15px;
}

.prescription-list-title {
  color: #200026;
  font-size: 22px;
  font-family: "Srimo", sans-serif;
  text-align: center;
  border-top: 4px solid rgba(241,172,254,0.55);
  padding-top: 10px;
}

.prescription-added {
  color: #844b8f;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  margin-left: 15px;
}

.prescrip-button {
  background-color: #844b8f;
  color: whitesmoke;
  font-family: "Srimo", sans-serif;
  font-weight: lighter;
  font-size: 18px;
  height: 50px;
  width: 80px;
  border-radius: 4px;
}

.prescrip-add-button {
  background-color: #844b8f;
  color: whitesmoke;
  font-family: "Srimo", sans-serif;
  font-weight: lighter;
  font-size: 30px;
  height: 50px;
  width: 330px;
  border-radius: 4px;
}

.pres-btn{
  display: flex;
  justify-content: center;
}

.prescription-close {
  display: flex;
  flex-direction: row-reverse;
}

.prescrip-search {
  background-color: #fff8f0;
}

.med-facts {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #844b8f;
}

.drug-info{
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #844b8f;
}

.drug-div{
  overflow: scroll;
  background-color: #fff8f0;
  border-bottom: 1px solid rgba(241,172,254,0.55);
}

.drug-info-name{
  color: #200026;
  font-size: 14px;
  font-family: "Srimo", sans-serif; 
  text-decoration: underline;
}