.sign-up-body{
  background-color: #FFF5E9;
  background-image: url(https://arcadia-static-assets.s3.amazonaws.com/arcadia-svgs/sign-up-img.png);
  background-repeat: no-repeat;
  background-position: right 215px top -90px;
}

.sign-up-close{
  height: 44px;	
  width: 44px;
  border: none;
  font-size: 20px;
  background-color: #FFF5E9;
  float: right;
  margin: 10px;
  
}

.sign-up-header {
 
  height: 44px;	
  width: 340px;	
  color: #200026;	
  font-family:   'Roboto', sans-serif;	
  font-size: 30px;	
  line-height: 36px;	
  display: flex;
  justify-content: center;
  overflow: hidden;
  
}

.sign-up-text{
  height: 45px;	
  width: 172px;	
  color: #844B8F;	
  font-family: Avenir;	
  font-size: 16px;	
  font-weight: 300;	
  line-height: 22px;
  text-align: center;	
  margin: auto;
  
}

.field-email, .field-password{
  text-align: center;
}

.email-sign-up{
  height: 19px;	
  width: 105px;	
  font-family: Avenir;	
  font-size: 18px;	
  font-weight: 300;	
  line-height: 25px;
  background-color: #FFF5E9;
  
}

.password-sign-up{
  height: 22px;	
  width: 105px;	
  color: #ECCFF7;	
  font-family: Avenir;	
  font-size: 18px;	
  font-weight: 300;	
  line-height: 25px;
  background-color: #FFF5E9;
}
.sign-up {
 text-align: center;
 padding: 10px;
 padding-top: 0;
}


.sign-up-field  {	
  height: 60px;	
  width: 301px;
  border: none;
  border-bottom: 1px solid #844B
}

::placeholder{
  color:#ECCFF7;
}

.consent {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.rectangle{
  box-sizing: border-box;	
  height: 20px;	
  width: 20px;	
  border: 1px solid #200026;	
  background-color: #FFF
}

.sign-up-confirm {
  
  height: 45px;	
  width: 220px;	
  color: #200026;	
  font-family: Avenir;	
  font-size: 11px;	
  font-weight: 900;	
  line-height: 15px;
}

.sign-up {
  text-align: center;
  padding: 10px;
  padding-top: 0;
 }

 .sign_up-btn {
  height: 45px;	
  width: 220px;	
  border-radius: 8px;	
  background-color: #ECCFF7;	
  box-shadow: 0 2px 50px 0 rgba(241,172,254,0.55);
  font-family: Avenir;
  font-family: Helvetica;	
  font-size: 18px;
  color:  #200026;
 }

 .sign-up-hr{
  border: 0.5px solid rgba(239,196,247,0.55);
  }

  .alt-sign-up{
    text-align: center;
  }

  .or-sign-up{
    height: 23px;	
    width: 137px;	
    color: rgba(132,75,143,0.55);	
    font-family: "Lucida Grande";	
    font-size: 18px;	
    line-height: 21px;
    margin:auto;
    padding: 20px;
   
  }

  .google-btn{
    height: 23px;	
    width: 100px;	
    color: #FFFFFF;	
    font-family: Helvetica;	
    font-size: 18px;	
    line-height: 22px;	
    text-align: center;
    height: 23px;	
    width: 100px;	
    height: 45px;	
    width: 220px;	
    background-color: #DD4B39;
    border-radius: 4px;
    
  }

  .facebook-btn{
    height: 23px;	
    width: 100px;	
    color: #FFFFFF;	
    font-family: Helvetica;	
    font-size: 18px;	
    line-height: 22px;	
    text-align: center;
    height: 23px;	
    width: 100px;	
    height: 45px;	
    width: 220px;	
    background-color: #415DAF;
    border-radius: 4px;
  }


















