<nav>
  <div class='nav-left'>
    <%= link_to 'Home', root_url %>
    <%= link_to 'Prescriptions', prescriptions_url %>
    <%= link_to 'Contacts', contacts_url %>
  </div>
  <div class='nav-right'>
    <%= link_to "Sign Out", destroy_user_session_url,method: :delete%>
  </div>  
</nav>